/*VARIABLES*/
/*
:root{
    --m1color: #000000;
    --m2color: #0066ff;
    
    --m2colorL: #1a75ff;
    --m2colorD: #005ce6;
}
*/
/*
:root{
    --m1color: #000000;
    --m2color: #ff3399;
    
    --m2colorL: #ff4da6;
    --m2colorD: #ff1a8c;
}
*/

:root{
    --m1color: #000000;
    --m2color: #1db954;
    
    --m2colorL: #1fc75a;
    --m2colorD: #1cb050;
}
